.blue-background{
    background-color: #9dc9c0;
}
.decoration{
    color: black;
    font-family: 'Allerta', sans-serif;
    font-weight: bold;
    letter-spacing:5px;
    
}
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  img{
border-radius: 30%;
  }
.bi{
  background-color:rgb(239, 77, 94);
}
  ul{
    list-style-type:circle;
    margin-left:-0.7em ;
  }
  .btn{
    border-color: black;
    font-weight: bold;
    background-color:rgb(239, 77, 94) ;
  }
  .bottom-container{
    padding: 50px 0 20px;
  }
div{
    display: block;
}
.page-top-back{
    background-color:rgb(239, 77, 94) ;
}